@font-face {
    font-family: 'ibmvga816';
    src: url('../assets/fonts/ibm-vga816.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --neon-color: #e4622f;
    --neon-glow: #d37537;
    --hover-dark: #131212;
    
}

body {
    background-color: black;
    color: var(--neon-color);
    font-family: 'ibmvga816', monospace;
}

a {
    text-shadow: 0 0 5px var(--neon-glow), 0 0 10px var(--neon-glow), 0 0 10px var(--neon-glow), 0 0 40px var(--neon-glow);
}

.head-links > a > img {
    width: 60px;
}

.head-links > a > img:hover {
    filter: drop-shadow(0 0 5px var(--neon-glow)) drop-shadow(0 0 50px var(--neon-glow)) drop-shadow(0 0 10px var(--neon-glow));
    transform: scale(1.2);
    transition: 100ms ease-in-out;
}

.header {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.clock {
    font-size: 56px;
}

.clock:hover, h1:hover {
    filter: drop-shadow(0 0 5px var(--neon-glow)) drop-shadow(0 0 50px var(--neon-glow)) drop-shadow(0 0 10px var(--neon-glow));
    transform: scale(1.2);
    transition: 100ms ease-in-out;
    color: var(--neon-glow);
}

.container {
    min-height: 100vh;
    display: flex;
    margin: 0 0;
    justify-content: space-around;
    flex-direction: column;
}

footer {
    padding: 0ch 0ch;
}

.bookmark-container {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3ch;
}

.link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1ch;
    min-width: 100px;
    padding: 1ch 3ch;
}

.link-box:hover {
    box-shadow: 0 0 40px var(--neon-glow);
    background-color: var(--hover-dark);
    transform: scale(1.2);
    transition: 100ms ease-in-out;
}

.link-box:not(hover) {
    transition: 1000ms ease-in-out;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2ch;
    gap: 10px;
    margin: 0 0;
}

.links > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 3ch ;
}


.links > a:hover {
    text-decoration: none;
    color: whitesmoke;
    transform: scale(1.2);
    transition: 100ms ease-in-out;
}


.search {
    margin: auto;
}

h2 {
    font-size: 3.5ch;
}