@font-face {
    font-family: 'RobotoMonoNerdFont';
    src: url('../assets/fonts/RBMNF-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Osaka';
    src: url('../assets/fonts/osaka-mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



:root {
    --primary-color: #a6e9a8;
    --secondary-color: #cc3a3a;
    --font-family: 'Osaka';
    --jackman: #b3273e;
    --header-color: #8E8CC2;
    --box: #55A6C3;
}

body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}



.header {
    display: flex;
    justify-content: space-around;
    color: var(--jackman);
    align-items: center;
    border-color: rgb(2, 2, 2);
    border-style: solid;
    border-width: 5px;
    border-radius: 12px;
    background-color: var(--header-color);

    font-family: 'Osaka';
}

.head-links > a > img:hover {
    transform: scale(1.1);
    transition: 100ms ease-in-out;
}

.head-links > a > img {
    width: 60px;
    height: 60px;
}

h1 {
    flex-shrink: 0;;
}


h1, .clock {
    font-weight: 800;
    font-size: 45px;
}


/* Link Box */

.bookmark-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 20px 20px;
    font-family: 'Osaka';
    font-size: large;
    flex-wrap: wrap;
    gap: 40px;
}

.link-box, .links {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;

}
.link-box {
    box-shadow: 12px 2px 12px rgba(83, 79, 79, 0.2);
    flex-direction: column;
    gap: 1px;
    margin-top: 20px;
    align-items: center;
    background-color: var(--box);
    padding: 1ch 3ch;
    justify-content: space-around;
}

.link-box:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    transition: 100ms ease-in-out;
}

.link-box:not(hover) {
    transition: 100ms ease-in-out;
    transform: scale3d(1);
}

.links {
    flex-direction: column;
    gap: 1em;
    align-items: left;
    justify-content: space-around;
;
    
}

h2 {
    font-size: 22px;
    text-decoration: underline;
}

h2:hover {
    color: whitesmoke
}

a {
    color:whitesmoke;
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
    font-weight: bolder;
    
}